body 
{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF
}

.page-header {
    border-bottom: 1px solid #e7e9fc;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

a 
{
    text-decoration: none;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    
}

img {
    display: block;
    max-width: 100%;
}

.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section-paddings {
    padding-top: 120px;
    padding-bottom: 120px;
}

/*-------------Navigation-----------*/
.link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover, .link:active, .link:focus {
    color: #404bbf;
    text-decoration: underline;
}

.page-nav {
    display: flex;
    align-items: center;
}

.menu-links {
    display: flex;
    gap: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
    
}

.navigation-container {
    display: flex;
}

.link-after {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404bbf;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
}

.link-after:hover {
    color: #404bbf;
    text-decoration: underline;
}

.link-after:active {
    text-decoration: none;
}

.link-after::after {
    content: '';
    border-radius: 2px;
    width: 100%;
    height: 4px;
    display: block;
    background-color:  #404bbf;
    position: absolute;
    margin-top: 20px;
    position: absolute;
    left: 0;
    bottom: -1px;
}

/*-------------Address-----------*/
.menu-address {
    font-style: normal;
    margin-left: auto;
    
}

.menu-address .link {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.menu {
    display: flex;
    gap: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
    font-weight: 400;
}

.menu-address .link:focus, .menu-address .link:hover{
    color:#404bbf;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    
}


/*-------------Button-----------*/
.button {
    background-color: #4D5AE5;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    padding: 16px 32px;
    border: none;
    display: block;
    margin: 0 auto;
    min-width: 169px;
    transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
    background-color: #404BBF;
    font-size: 16px; 
}

.section-button {
    color: #fff;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    background-color: #2e2f42;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 188px;
    padding-bottom: 188px;

    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/people-office1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}



/*-------------Logotype-----------*/
.logo {
    color: #4d5ae5;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    margin-right: 76px
}

.logo-black {
    color: #2e2f42;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
}


/*-------------H1-----------*/
.big-text { 
    font-size: 56px; 
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin-bottom: 48px;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
}


/*-------------Our Benefits-----------*/
.title-benefits {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.text-benefits {
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px;
    text-align: left;
    color: #434455;
}

.menu-benefits {
    display: flex;
    gap: 24px;
}

.benefits-li {
    width: calc((100% - 72px) / 4);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}



.svg-container {
    border: 1px solid;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    border-color: #8e8f99;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center; 
}



/*-------------Our Team-----------*/
.team {
    background-color: #F4F4FD;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
   
}

.team-list {
    color: #2e2f42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    background-color: #F4F4FD;
    margin-bottom: 72px;
}

.li-team {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    border-radius: 0 0 4px 4px;
}

.name-team {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-profession {
    font-size: 16px;
    color:  #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    
}

.icon-links-div {
    display: flex;
    justify-content: center;
    
}

.menu-team {
    display: flex;
    gap: 24px;
}

.person-container {
    padding-top: 32px;
    padding-bottom: 32px;

}

.list-icon {
    width: 40px;
    height: 40px;
}

.icon-link {
    display:flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover, .icon-link:focus {
    background-color: #404bbf;
}

.icon-color-position {
    fill:  #f4f4fd;
}

.list-icon-container {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}

/*-------------Our Portfolio-----------*/
.portfolio-list {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}


.name-portfolio {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px
}

.text-portfolio {
    color:  #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px;
}

.menu-portfolio {
    display: flex;
    column-gap: 24px;
    flex-wrap: wrap;
    row-gap: 48px;
    
}

.li-portfolio {
    width: calc((100% - 48px) / 3);
    max-width: 1440px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.li-portfolio:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.img-portfolio {
    max-width: 100%;
    object-fit: cover;
    
}

.app-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none; 
}

.hover-container {
    position: relative;
    overflow: hidden;
}

.text-hover {
   
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #f4f4fd;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #4d5ae5;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hover-container:hover .text-hover {
    transform: translateY(0%);
}



/*-------------Footer-----------*/
.footer {
   
    background-color: #2e2f42;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

.logo-footer {
    color: #4d5ae5;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    display: inline-block;
    margin-bottom: 16px;
}

.logo-white{
    color: #f4f4fd;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    
}

.text-footer {
    color: #f4f4fd;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    
}

.icon-color-footer {
    fill: #f4f4fd;
}

.icon-link-footer {
    display:flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link-footer:hover, .icon-link-footer:focus {
    background-color: #31d0aa;
}


.footer-list-icon {
    display: flex;
    gap: 16px;
    
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-media {
    color:  #ffffff;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.first-container-footer {
    margin-right: 120px;
}